html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
.container {
  text-align: center;
}
textarea {
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 50vw;
}
#original {
  left: 50vw;
}
